.Home h1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: darkslategrey;
}

.Home h4 {
    text-align: center;
    font-size: small;
    color: lightslategrey;
}

.Home p {
    text-align: center;
    color: slategrey;
}

.Home .img-fluid{
    max-width: 100%;
    height: auto;
}

